#playMusicButton {
	-fx-background-image: url("playMusicPlayerBlack.png");
	-fx-background-repeat: no-repeat;
}
#stopMusicButton {
    -fx-background-image: url("stopPlayerBlack.png");
	-fx-background-repeat: no-repeat;
}
#deleteMusicFromPlayerButton {
    -fx-background-image: url("deleteMusicFromPlayerBlack.png");
	-fx-background-repeat: no-repeat;
}
