.button {
	-fx-padding:5 22 5 22;
	-fx-border-color: #e2e2e2;
	-fx-border-width: 2;
	-fx-background-radius: 0;
	-fx-background-color: #1d1d1d;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 11pt;
	-fx-text-fill: #d8d8d8;
	-fx-background-insets: 0 0 0 0,0,1,2;
}
.button:hover {
 -fx-background-color: #3a3a3a;
 }
  .scroll-pane .viewport{
     -fx-background-color:#3a3a3a;
    
}
.scroll-pane .scroll-bar:vertical{
-fx-background-color:#3a3a3a;
}

.scroll-pane .scroll-bar:horizontal{
-fx-background-color:#3a3a3a;
}

#bg{
        -fx-background-color: #1d1d1d;
}

.label{
	-fx-font-family:"Segoe UI", Adobe Gothic Std B, Arial, sans-serif;
	-fx-font-size: 11pt;
	-fx-text-fill:white;
	-fx-opacity:1;
}

.menu{
	 -fx-background-color:#1d1d1d;
	 -fx-padding:5 22 5 22;
	-fx-border-color: #e2e2e2;
	-fx-border-width: 2;
	-fx-background-radius: 0;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 11pt;
	-fx-text-fill: #d8d8d8;
	-fx-background-insets: 0 0 0 0,0,1,2;
}
.menu:hover{
 -fx-background-color: #3a3a3a;
 }
 .combo-box{
	-fx-border-color: #e2e2e2;
	-fx-border-width: 2;
	-fx-background-radius: 0;
	-fx-background-color: #1d1d1d;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 11pt;
	-fx-background-insets: 0 0 0 0,0,1,2; }
 .combo-box-base .list-cell{
 	-fx-text-fill:white;
 	-fx-background-color: #1d1d1d;
 }
.combo-box-base .list-cell:hover{
-fx-background-color: #3a3a3a;
}

 #mi{
 	-fx-padding:5 22 5 22;
	-fx-border-color: #e2e2e2;
	-fx-border-width: 2;
	-fx-background-radius: 0;
	-fx-background-color: #1d1d1d;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 11pt;
	-fx-text-fill: #d8d8d8;
	-fx-background-insets: 0 0 0 0,0,1,2;
}
